import engine
{% for table in data["tables"] %}
import {{ table["name"] }}
{% endfor %}

conn = engine.connect()

{% for table in data["tables"] %}
{{ table["name"] }}_insert = {{ table["name"] }}.insert()
conn.execute({{ table["name"] }}_insert , [
{%	for record in table["data"] %}
{#        { #}
{%		for field_data in record %}
          {{ table.columns["loop.index0"] }} = {{ field_data }}, 
(%		endfor %}
{#        } #}
{%	endfor %}
])
{% endfor %}


