from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey, create_engine
engine = create_engine('mysql+pymysql://mariadb:Super123@192.168.56.101/mydatabase')
metadata = MetaData()

{%	for table in tables %}
{{ table['name'] }} = Table( '{{ table["name"] }}', metadata,
{%		for column in table["columns"] %}
    Column('{{column["name"]}}', {{column["type"]}}, 
{%			if column["foreign_key"] is defined %}
        ForeignKey('{{ column["foreign_key"] }}'),
{%			endif %}
{%			for key, value in column["attributes"].items() %}
        {{ key }}={{ value }},
{%			endfor %}
    ),
{%		endfor %}
)
{%	endfor %}

metadata.create_all(engine)
