from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()


{% for table in tables %}

{{ table['name'] }} = Table( '{{ table["name"] }}', metadata,
{%   for column in table["columns"] %}
    Column(
{%     for key, value in column.items() %}
{%       if key == 'name' %}
	'{{ value }}',
{%       elif key == 'type' %}
	{{ value if defined else 'None' }},
{%       elif key == 'primary_key' %}
	primary_key={{ value }},
{%       elif key == 'foreign_key' %}
        ForeignKey('{{ value }}'),
{%       else %}
        {{ key }}={{ value }},
{%       endif %}
{%     endfor %}
    )
{%   endfor %}}
)

{% endfor %}

