
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, scoped_session

engines = {}
sessions = {}
{% for database in host['databases'] %}

# engines['{{ database['name'] }}'] = create_engine('sqlite:///:memory:', echo=True)
engines['{{ database['name'] }}'] = create_engine('mysql+pymysql://{{ host["db_user"]}}:{{ host["db_password"] }}@{{ host["db_address"] }}/{{ database["name"] }}', echo=True)

# Session = sessionmaker()
Session = scoped_session(sessionmaker())
Session.configure(bind=engines['{{ database['name'] }}'])
# sessions['{{ database['name'] }}'] = Session()


{% endfor %}

# note:
# please add the following clean up code in Flask application (e.g. __init__.py)
# @app.teardown_appcontext
# def cleanup(resp_or_exc):
#     Session.remove()